.container {
  text-align: center;
}

.container > p:nth-child(1) {
  margin-block: 5rem;
}

.divheader {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-inline: 3rem;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

/* The card style */

.card {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 20px;
}

.text {
  text-align: left;
  /* font-size: 12px; */
}

.icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-bottom: 10px;
  margin-top: -30px;
}
